<h1 class="mt-5">Selectores anidados</h1>
<hr>

<form (ngSubmit)="save()" [formGroup]="myForm">
  <!-- Input Currency Mask -->
  <div class="row mb-3">
    <div class="col">
      <label class="form-label">Máscara con librería:</label>
      <input
        currencyMask
        class="form-control"
        placeholder="Ingrese el valor"
        [formControl]="price"
        [options]="{ prefix: '$ ', thousands: '.', decimal: ',', allowNegative: false }"
      >
    </div>
  </div>

  <!-- Input Angular Currency Mask -->
  <div class="row mb-3">
    <div class="col">
      <label class="form-label">Máscara propia de Angular:</label>
      <app-input
        [controlName]="'price_mask'"
        [control]="myForm.controls['price_mask']"
      ></app-input>
    </div>
  </div>

  <!-- Region -->
  <div class="row mb-3">
    <div class="col">
      <label class="form-label">Continente:</label>
      <select class="form-control" formControlName="region">
        <option value="">-- Seleccione Continente --</option>
        <option *ngFor="let region of regions" [value]="region | lowercase">{{ region }}</option>
      </select>
    </div>
  </div>

   <!-- Pais -->
   <div *ngIf="countries.length !== 0" class="row mb-3">
    <div class="col">
      <label class="form-label">Paises:</label>
      <select class="form-control" formControlName="country">
        <option value="">-- Seleccione País --</option>
        <option *ngFor="let country of countries" [value]="country.cca3">{{ country.name.common }}</option>
      </select>
    </div>
  </div>

  <!-- Fronteras -->
  <div *ngIf="borders.length !== 0" class="row mb-3">
    <div class="col">
      <label class="form-label">Fronteras:</label>
      <select class="form-control" formControlName="borders">
        <option value="">-- Seleccione Frontera --</option>
        <option *ngFor="let border of borders" [value]="border">{{ border }}</option>
      </select>
    </div>
  </div>

  <div class="row" *ngIf="loading">
    <div class="col">
      <div class="alert alert-primary">
        Cargando...
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <button type="submit" class="btn btn-primary float-end">Seleccionar</button>
    </div>
  </div>
</form>

<br>
<h3>Formulario</h3>
<pre>Valid: {{ myForm.valid | json }}</pre>
<pre>Value: {{ myForm.value | json }}</pre>
